@page  "/personas/editar/{PersonaId:int}"
@inject PersonasRepo repo
@inject IMostrarMensajes mostrarMensaje
@inject NavigationManager navigationManager
@attribute [Authorize(Roles = "admin")]

<h3>Editar Persona</h3>

@if (persona == null)
{
    <text>Cargando...</text>
}
else
{
    <FormularioPersonas Persona="persona" OnValidSubmit="Editar" />
}


@code {
    [Parameter]
    public int PersonaId { get; set; }
    Persona persona;

    protected async override Task OnInitializedAsync()
    {
        persona = await repo.Get(PersonaId);
        if (persona == null)
        {
            navigationManager.NavigateTo("personas");
        }

    }

    private async Task Editar()
    {
        await repo.Put(persona);
        navigationManager.NavigateTo("personas");
    }
}
