@page "/"
@page "/index"
@inject PeliculasRepo repo

<div>
    <h3>En cartelera</h3>
    <ListadoPeliculas Peliculas="enCartelera" />
</div>

<div>
    <h3>Próximos estrenos</h3>
    <ListadoPeliculas Peliculas="futurosEstrenos" />
</div>


@code{
    private List<Pelicula> futurosEstrenos;
    private List<Pelicula> enCartelera;

    protected async override Task OnInitializedAsync()
    {
        var homePageDTO = await repo.Get();

        futurosEstrenos = homePageDTO.ProximosEstrenos;
        enCartelera = homePageDTO.PeliculasEnCartelera;
    }
}